article {
  max-width: 30em; margin: 0 auto; min-height: 30em; padding: 1em;
}

body.little_printer {
  border-bottom-width: 4px; margin: 0; width: 384px;
}

body.little_printer article {
  min-height: 1em; padding: 0;
}

body {
  margin: auto;
}

@media only screen and (min-width: 640px) {
  body {
    margin: 8px;
  }
}

header {
  padding: 0 0; margin: 0 0 2em 0;
}

.little_printer header {
  margin-bottom: 1em;
}

header hgroup { padding: 0; }

header h1,
header h2 {
  padding: 0; margin: .2em 0;
}

ul {
  margin: 0 0 1em 0; padding: 0;
}

@media (min-width: 600px) {
  ul {
    column-count: 2; -webkit-column-count: 2; -moz-column-count: 2;
  }
}

li {
  margin: 0 0 .2em 0;
}

.short {
  display: table-row;
}

.short header {
  display: table-cell; padding-right: .5em; padding-bottom: .5em;
}

.short header h2 {
  margin: 0;
}

.short .content {
  display: table-cell; vertical-align: top;

}

header img,
header svg {
  height: 6em; width: 6em; margin: 0 auto; display: block;
}

li a { display: block; }

li img,
li svg,
li span { vertical-align: middle; }

li img,
li svg {
  height: 2.2em; width: 2.2em; display: inline-block;
}

a.back {
  display: block;
  max-width: 8em;
  padding: 0 .5em 0 0;
  height: 2em;
  line-height: 2em;
  margin: 2em auto 0 auto;
}

.arrow {
  display: block;
  height: 0; width: 0;
  border-top-width: 1em ;
  border-bottom-width: 1em;
  border-right-width: 1em;
  border-left-width: 0;
  margin-top: 0; margin-right: .5em;
  float: left;
}

img.title {height: 2em; width: 2em;margin: auto; display: inline;}



body.little_printer section {
  height: 64px; display: block; overflow: hidden; margin-bottom: 2px;
}

body.little_printer section header {
  display: block; float: left;
}

body.little_printer section .content {
  display: block; padding: 6px 0 0 0; margin: 0;
  line-height: 26px;
}

body.little_printer header svg {
  height: 128px; width: 128px;
}
body.little_printer img.title {width: 60px; height: 60px;}